  /* share styles */
  .secondary-bg {
    background-color: #FFF8F3;
  }
  .text-center {
    text-align: center;
  }
  .text-primary {
    color: #FD6E0A;
  }
  .dark-2 {
    color: #474747;
  }
  .dark-1 {
    color: #757575;
  }
  .btn-primary {
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
  }
  .section-title {
    font-size: 35px;
    font-weight: bold;
    color:#181818;
  }
  .section-description {
    font-size: 18px;
    padding: 20px;
  }
  /* header styles */
  header {
    background-image: url("../assets/developer.png"), url("../assets/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nav-title {
    font-weight: 800px;
    font-size: 45px;
  }

  nav ul {
    display: flex;
    align-items: center;
  }
  nav ul li {
    list-style: none;
    margin-right: 50px;
  }
  nav li a {
    text-decoration: none;
    font-size: 20px;
  }
/* banner styles */
  .banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
  }
  .banner-content {
    max-width: 580px;
  }
  .banner-greetings {
    font-size: 45px;
    font-weight: 600;
  }
  .banner-title {
    font-size: 85px;
    font-weight: bold;
  }
  .banner-description {
    font-size: 18px;
  }
  .btn-contact {
    border-radius: 5px;
    border: #FD6E0A solid 1px;
    padding: 15px 35px;
    font-weight: bold;
    font-size: 20px;
  }
  .banner-profile-pic {
    width: 580px;
  }
  /* main styles */
  main {
    max-width: 1140px;
    margin: 0 auto;
  }
  /* about styles*/
  .about {
    border: #000000 solid 2px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px 0px;
  }
  .about-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .item-title {
    font-size: 20px;
  }
  .item-description {
    font-size: 20px;
    font-weight: bold;
  }
/* what i do */
.what-item {
  text-align: center;
  max-width: 900px;
}

/* skill container */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill-description {
  padding: 30px 0px;
  border-radius: 5px;
  box-shadow: 0, 6, 50, 0 black;
}
/*resume section */
.resume-container {
  display: flex;
  gap: 20px;
}
.resume-column-title {
  font-size: 30px;
  font-weight: bold;
}
.experience-title {
  font-size: 25px;
  font-weight: bold;
}